@model IList<VolleyManagement.UI.Areas.Admin.Models.UserViewModel>

@{
    ViewBag.Title = "All users";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading">Registered users</div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Person's name</th>
            <th>Email</th>
            <th></th>
        </tr>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="3" class="text-center">No registered users</td>
            </tr>
        }
        else
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.PersonName</td>
                    <td>@user.Email</td>
                    <td>
                        @Html.ActionLink("Details", "UserDetails", new { id = user.Id }, new { @class = "btn btn-primary btn-xs" })
                        @if (user.IsBlocked)
                        {
                            @Html.ActionLink("Unblock", "ChangeUserBlocked", new { id = user.Id, toBlock = false, backTo = Request.Url.AbsoluteUri }, new { @class = "btn btn-success btn-xs" })
                        }
                        else
                        {
                            @Html.ActionLink("Block", "ChangeUserBlocked", new { id = user.Id, toBlock = true, backTo = Request.Url.AbsoluteUri }, new { @class = "btn btn-success btn-xs" })
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
