@model VolleyManagement.UI.Areas.Admin.Models.UserViewModel

@{
    ViewBag.Title = "User's details";
}

<div class="panel panel-primary">


    

    <div class="panel-heading">User @Model.Id
        <div class="pull-right">
            @Html.ActionLink("Block/Unblock", "UserDetails", new { id = Model.Id }, new { @class = "btn btn-success btn-xs" })
        </div>
    </div>
    <table class="table table-striped">

        <tr>
            <td>ID</td>
            <td>@Model.Id</td>
        </tr>

        <tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>

        <tr>
            <td>Username</td>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <td>Person name</td>
            <td>@Model.PersonName</td>
        </tr>

        <tr>
            <td>Phone</td>
            <td>@Model.Phone</td>
        </tr>
    </table>

    <div class="panel-heading"> @Html.LabelFor(model => Model.LoginProviders)</div>
    <table class="table table-striped">

        <tr>
            <th>Login Provider</th>
            <th>Provider key</th>
        </tr>

        @foreach (var provider in Model.LoginProviders)
        {
            <tr>
                <td>@provider.LoginProvider</td>
                <td>@provider.ProviderKey</td>
            </tr>
        }

    </table>

    <div class="panel-heading"> @Html.LabelFor(model => Model.Roles)</div>
    @if (Model.Roles == null)
    {
        <table class="table table-striped">
            <tr>
                <td colspan="3" class="text-center">No roles assigned to user</td>
            </tr>
        </table>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>

            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                </tr>
            }
        </table>
    }
   

    <div class="panel-heading"> @Html.LabelFor(model => Model.Player)</div>
    <table class="table table-striped">
        @if (Model.Player == null)
        {
               <tr>
                   <td colspan="3" class="text-center">No player assigned to user</td>
               </tr>
        }
        else
        {
            <tr>
                <td>@Html.LabelFor(model => Model.Player.FirstName)</td>
                <td>@Model.Player.FirstName</td>

            </tr>

            <tr>
                <td> @Html.LabelFor(model => Model.Player.LastName)</td>
                <td> @Model.Player.LastName</td>
            </tr>

            <tr>
                <td> @Html.LabelFor(model => Model.Player.BirthYear)</td>
                <td> @Model.Player.BirthYear</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => Model.Player.Height)</td>
                <td>@Model.Player.Height</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => Model.Player.Weight)</td>
                <td> @Model.Player.Weight </td>
            </tr>
        }
    </table>


</div>



