@using VolleyManagement.UI.Areas.Mvc;
@model IEnumerable<VolleyManagement.Domain.Contributors.Contributor>

@{
    ViewBag.Title = Resources.TournamentViews.TournamentsIndexTitle;
}

<h2>@ViewBag.Title</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayName(item.FirstName)
            </td>
            <td>
                @Html.DisplayName(item.LastName)
            </td>
        </tr>
    }

</table>
