@using VolleyManagement.UI.Areas.Mvc
@model IEnumerable<VolleyManagement.Domain.TournamentsAggregate.Tournament>

@{
    ViewBag.Title = Resources.UI.TournamentViews.ArchivedTournamentsIndexTitle;
}

<h2>@ViewBag.Title</h2>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<table class="table" @ViewBag.TableId>
    <thead>
        <tr>
            <td width="400">
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td width="100">
                @Html.DisplayNameFor(model => model.Season)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(tournament.Name, "Details", new { id = tournament.Id })
                </td>
                <td>
                    @Html.DisplaySeason(tournament.Season)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = tournament.Id })
                </td>
                <td>
                    @Html.ActionLink("Activate", "Activate", new { id = tournament.Id }, new { onclick = "return confirm('Are you sure that you want to ACTIVATE this tournament');" } )
                </td>
            </tr>

        }
    </tbody>
</table>