@using System.Web.Optimization
@model VolleyManagement.UI.Areas.Mvc.ViewModels.Teams.TeamViewModel

@{
    ViewBag.Title = Resources.UI.TeamViews.CreateTeamTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.UI.TeamViews.TeamLegend</legend>

        @Html.Partial("_CreateEdit", Model)

        <p>
            <button id="createTeamButton">@Resources.UI.TeamViews.Create</button>
        </p>
    </fieldset>

    <div>
        @Html.ActionLink(Resources.UI.TeamViews.BackToList, "Index")
    </div>
}
