@model VolleyManagement.Mvc.ViewModels.Tournaments.TournamentViewModel

@{
    ViewBag.Title = VolleyManagement.Mvc.Views.ViewResources.CreateTournamentTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@VolleyManagement.Mvc.Views.ViewResources.TournamentLegend</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="@VolleyManagement.Mvc.Views.ViewResources.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(VolleyManagement.Mvc.Views.ViewResources.BackToList, "Index")
</div>


