@model VolleyManagement.Domain.Tournaments.Tournament

@{
    ViewBag.Title = VolleyManagement.Mvc.Views.ViewResources.DeleteTournamentTitle;
}

<h2>@ViewBag.Title</h2>

<h3>@VolleyManagement.Mvc.Views.ViewResources.DeleteConfirm</h3>
<fieldset>
    <legend>@VolleyManagement.Mvc.Views.ViewResources.TournamentLegend</legend>

    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">@Html.LabelFor(model => model.Description)</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">@Html.LabelFor(model => model.Season)</div>
    <div class="display-field">@Model.Season</div>

    <div class="display-label">@Html.LabelFor(model => model.Scheme)</div>
    <div class="display-field">@Model.Scheme</div>

    <div class="display-label">@Html.LabelFor(model => model.RegulationsLink)</div>
    <div class="display-field">@Model.RegulationsLink</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@VolleyManagement.Mvc.Views.ViewResources.Delete" /> |
        @Html.ActionLink(VolleyManagement.Mvc.Views.ViewResources.BackToList, "Index")
    </p>
}


