@model VolleyManagement.Domain.Tournaments.Tournament

@{
    ViewBag.Title = VolleyManagement.Mvc.Views.ViewResources.TournamentDetailsTitle;
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>@VolleyManagement.Mvc.Views.ViewResources.TournamentLegend</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">Season</div>
    <div class="display-field">@Model.Season</div>

    <div class="display-label">Scheme</div>
    <div class="display-field">@Model.Scheme</div>

    <div class="display-label">RegulationsLink</div>
    <div class="display-field">@Model.RegulationsLink</div>
</fieldset>
<p>
    @Html.ActionLink(VolleyManagement.Mvc.Views.ViewResources.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(VolleyManagement.Mvc.Views.ViewResources.BackToList, "Index")
</p>


