@model IEnumerable<SoftServe.VolleyManagement.Domain.Tournaments.Tournament>

@{
    ViewBag.Title = "Tournaments";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
    </tr>
}

</table>
