@model VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameViewModel

@{
    ViewBag.Title = @Resources.UI.TournamentViews.EditScheduledGameTitle;
}

<h2>@ViewBag.Title</h2>

@if (Model == null)
{
@Html.ValidationMessage("LoadError", new {@class = "text-danger"})
}
else
{
    using (Html.BeginForm())
    {
@Html.Partial("_ScheduleOrEditGame", Model);
@Html.HiddenFor(model => model.Id);

<input class="btn btn-default" type="submit" value="@Resources.UI.TournamentViews.Save" />
    }

<br />
@Html.ActionLink(@Resources.UI.TournamentViews.Cancel, "ShowSchedule", new { tournamentId = Model.TournamentId })
}