@model VolleyManagement.Mvc.ViewModels.Users.UserViewModel

@{
    ViewBag.Title = Resources.UserViews.CreateUserTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.UserViews.UserLegend</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="@Resources.UserViews.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.UserViews.BackToList, "Index")
</div>