@model IEnumerable<VolleyManagement.UI.Areas.Mvc.ViewModels.Players.PlayerNameViewModel>

@{
    ViewBag.Title = Resources.PlayerViews.ChoosingPlayers;
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/ChoosingPlayersFunctions.js"></script>
<script>
    $(document).ready(function () {

        setTimeout("finishChoosing()", 2000);

    });
</script>

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
        </th>
        <th class="hidden">
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FullName
            </td>
            <td>
                <input type="button" name="choosePlayerButton" value="@Resources.PlayerViews.AddPlayerToTeam" />
            </td>
            <td class ="hidden">
                @item.Id
            </td>
        </tr>
    }
</table>
