@model VolleyManagement.UI.Areas.Mvc.ViewModels.Players.PlayerRefererViewModel
﻿@using VolleyManagement.Domain.RolesAggregate;

@{
    ViewBag.Title = Resources.PlayerViews.PlayerDetailsTitle;
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>@Resources.PlayerViews.PlayerLegend</legend>

    <div class="display-label">@Html.LabelFor(model => model.Model.FirstName)</div>
    <div class="display-field">@Model.Model.FirstName</div>

    <div class="display-label">@Html.LabelFor(model => model.Model.LastName)</div>
    <div class="display-field">@Model.Model.LastName</div>

    <div class="display-label">@Html.LabelFor(model => model.Model.BirthYear)</div>
    <div class="display-field">@Model.Model.BirthYear</div>

    <div class="display-label">@Html.LabelFor(model => model.Model.Height)</div>
    <div class="display-field">@Model.Model.Height</div>

    <div class="display-label">@Html.LabelFor(model => model.Model.Weight)</div>
    <div class="display-field">@Model.Model.Weight</div>
</fieldset>
<p>
@if (Model.AllowedOperations.IsAllowed(AuthOperations.Players.Edit))
{
    @Html.ActionLink(Resources.PlayerViews.Edit, "Edit", new { id = Model.Model.Id }) @:|
}
    <a href="@Model.Referer">@Resources.PlayerViews.Back</a>
</p>
