@model VolleyManagement.UI.Areas.Mvc.ViewModels.Players.PagedPlayersViewModel

@{
    ViewBag.Title = Resources.PlayerViews.PlayersIndexTitle;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Resources.PlayerViews.CreateNewPlayer, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @Html.ActionLink(item.LastName, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.ActionLink(Resources.PlayerViews.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(Resources.PlayerViews.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@if (Model.Index != 1)
{
    @Html.RouteLink("1", "UpcomingPlayers", new { id = (0) });
}

@if (Model.Index - 1 > 1)
{
    if (Model.Index - 1 > 2)
    {
        <b>...</b>
    }
    int PageBefore = Model.Index - 1;
    @Html.RouteLink(PageBefore.ToString(), "UpcomingPlayers", new { id = (Model.Index - 2) });
}

@Model.Index

@if (Model.Index + 1 < Model.NumberOfPages)
{
    int PageAfter = Model.Index + 1;
    @Html.RouteLink(PageAfter.ToString(), "UpcomingPlayers", new { id = (Model.Index) });
        if (Model.Index + 1 < Model.NumberOfPages - 1)
        {
            <b>...</b>
        }
}

@if (Model.Index != Model.NumberOfPages)
{
    @Html.RouteLink(Model.NumberOfPages.ToString(), "UpcomingPlayers", new { id = (Model.NumberOfPages - 1) })
}
