@model IEnumerable<VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameResultViewModel>

@{
    ViewBag.Title = Resources.GameResultsViews.TournamentResultsTitle;
}

<h2>@Resources.GameResultsViews.TournamentResultsTitle</h2>
<hr />
@foreach (VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameResultViewModel gameResult in Model) {
    <div>
        @gameResult.HomeTeamName vs @gameResult.AwayTeamName || @gameResult.SetsScore.Home : @gameResult.SetsScore.Away
        @if (gameResult.IsTechnicalDefeat)
        {
            <span class="color_red">@Resources.GameResultsViews.TechnicalDefeat</span>
        }

        @Html.ActionLink(Resources.GameResultsViews.Details, "Details", new { id = gameResult.Id.ToString() }, null)
    </div>
}
