@model IEnumerable<VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameResultViewModel>

@{
    ViewBag.Title = Resources.GameResultsViews.TournamentResultsTitle;
}

<h2>@Resources.GameResultsViews.TournamentResultsTitle</h2>
<hr />
@foreach (VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameResultViewModel gameResult in Model) {
    <div>
        @gameResult.HomeTeamName vs @gameResult.AwayTeamName || @gameResult.SetsScore.Home : @gameResult.SetsScore.Away
        @if (gameResult.IsTechnicalDefeat)
        {
            <span class="color_red">Technical defeat</span>
        }

<<<<<<< HEAD
        @Html.ActionLink("Details", "Details", new { id = gameResult.Id.ToString() }, null) | 
        @Html.ActionLink("Edit", "Edit", new { id = gameResult.Id.ToString() }, null) | 
        @Html.ActionLink("Delete", "Delete", new { id = gameResult.Id.ToString() }, null)
=======
        @Html.ActionLink(Resources.GameResultsViews.Details, "Details", new { id = gameResult.Id.ToString() }, null)
>>>>>>> Game_results
    </div>    
}

