@model VolleyManagement.UI.Areas.Mvc.ViewModels.Teams.TeamViewModel

<script>
    function openChoosingPlayerWindow()
    {
        w = window.open("/Mvc/Players/Index", "Window Name", "width=400,height=400,status=no,location=no, resizable=no,")
    }

</script>


<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Coach)
</div>
<div class="editor-label">
    @Html.EditorFor(model => model.Coach)
    @Html.ValidationMessageFor(model => model.Coach)
</div>

<div class="editor-label">
    <label for="Captain_FullNameText">Капитан</label>
</div>

<div class="editor-label">
    <input class="text-box single-line" id="Captain_FullNameText" name="Captain_FullName" type="text" value="" onfocus="openChoosingPlayerWindow()" />
    <input class="hidden" id="Captain_FullName" name="Captain.FullName" type="text" value="" />
    <input class="hidden" id="Captain_Id" name="Captain.Id" type="number" value="" />  
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Achievements)
</div>
<div class="editor-label">
    @Html.EditorFor(model => model.Achievements)
    @Html.ValidationMessageFor(model => model.Achievements)
</div>

<div id="RosterPlayers">
    <h4>@Resources.TeamViews.RosterTitle</h4>
    <input type="button" value="@Resources.TeamViews.AddPlayerToRoster" onclick="openChoosingPlayerWindow()">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roster.FirstOrDefault().FullName)
            </th>
            <th class="hidden">
            </th>
        </tr>
        @if (Model.Roster != null)
        {
            foreach (var item in Model.Roster)
            {
                <tr>
                    <td>
                        @item.FullName;
                    </td>
                    <td class="hidden">
                        @item.Id;
                    </td>
                </tr>
            }
        }
    </table>
    @*here should be list with player and choosing player window*@
</div>
