@model VolleyManagement.UI.Areas.Mvc.ViewModels.Teams.TeamViewModel
@using System.Web.Script.Serialization;

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Coach)
</div>
<div class="editor-label">
    @Html.EditorFor(model => model.Coach)
    @Html.ValidationMessageFor(model => model.Coach)
</div>

<div class="editor-label">
    <label for="Captain_FullNameText">Captain</label>
</div>

@{
    string captainFullName = string.Empty;
    string teamPlayersJson = string.Empty;
    int? captainId = null;
    if (Model.Captain != null)
    {
        captainFullName = Model.Captain.FullName;
        captainId = Model.Captain.Id;
    }
    
    if(Model.Roster != null)
    {
        teamPlayersJson = new JavaScriptSerializer().Serialize(Model.Roster);   
    }
    <div class="editor-label">
        <input class="text-box single-line"
            id="captainFullName"
            name="Captain.FullName"
            type="text"
            value="@captainFullName" />
        <input class="hidden"
            id="captainId"
            name="Captain.Id"
            value="@captainId" />
    </div>
}
    <div class="editor-label">
        @Html.LabelFor(model => model.Achievements)
    </div>
<div class="editor-label">
    @Html.EditorFor(model => model.Achievements)
    @Html.ValidationMessageFor(model => model.Achievements)
</div>

<br />

<div>
    <h4>@Resources.TeamViews.RosterTitle</h4>

    <br />  
    
    <div class="dataForTeamPlayersTable" hidden>@teamPlayersJson</div>

    <button class="addPlayerToTeamButton">@Resources.TeamViews.AddTeamPlayer</button>
    <table id="teamRoster" class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Roster.FirstOrDefault().FullName)</th>
            <th class="hidden"></th>
            <th class="hidden"></th>
        </tr>
    </table>
</div>

