@model VolleyManagement.UI.Areas.Mvc.ViewModels.Teams.TeamRefererViewModel

@{
    ViewBag.Title = Resources.TeamViews.TeamDetailsTitle;
}

<h2>@ViewBag.Title</h2>

<div class="width">
    <div class="form radius front cab-form">
        <div class="info float-left">
            <img src=@Model.Model.PhotoPath height="200" width="200"/>
        </div>
    </div>
</div>

<fieldset>
    <legend>@Resources.TeamViews.TeamLegend @Model.Model.Name</legend>

    <div class="display-label">@Html.LabelFor(model => model.Model.Coach)</div>
    <div class="display-field">@Model.Model.Coach</div>

    <div class="display-label">@Html.LabelFor(model => model.Model.Achievements)</div>
    <div class="display-field">@Model.Model.Achievements</div>

    <div class="display-label">@Html.LabelFor(model => model.Model.Captain)</div>
    @Html.ActionLink(Model.Model.Captain.FullName,
                    "Details",
                    "Players",
                    new { id = Model.Model.Captain.Id, returnUrl = Model.CurrentReferrer },
                    null)

    <div class="display-label">@Html.LabelFor(model => model.Model.Roster)</div>
    <ul>
        @foreach (var item in Model.Model.Roster)
        {
            <li>
                @Html.ActionLink(item.FullName,
                                "Details",
                                "Players",
                                new { id = item.Id, returnUrl = Model.CurrentReferrer },
                                null)
            </li>
        }
    </ul>
</fieldset>
<p>
    @Html.ActionLink(Resources.TeamViews.Edit, "Edit", new { id = Model.Model.Id }) |
    <a href="@Model.Referer">@Resources.TeamViews.Back</a>
</p>

@Styles.Render("/Content/TeamPhoto.css")