@model VolleyManagement.UI.Areas.Mvc.ViewModels.Teams.TeamRefererViewModel

@using System.Web.Optimization

@{
    ViewBag.Title = Resources.TeamViews.EditTeamTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.TeamViews.TeamLegend</legend>

        @Html.HiddenFor(model => model.Model.Id)
        @Html.Partial("_CreateEdit", Model.Model)

        <p>
            <button id="saveTeamButton">@Resources.TeamViews.Save</button>
        </p>
    </fieldset>
}

<div>
    <a href="@Model.Referer">@Resources.TeamViews.Back</a>
</div>

