@model VolleyManagement.UI.Areas.Mvc.ViewModels.Teams.TeamViewModel

@using System.Web.Optimization

@{
    ViewBag.Title = Resources.TeamViews.EditTeamTitle;
}

<h2>@ViewBag.Title</h2>
<div class="width">
    <div class="form radius front cab-form">
        <div class="info float-left">
            @using (Html.BeginForm("AddPhoto", "Teams", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input name="photoId" id="photoId" type="hidden" value="@Model.Id">
                <input name="fileToUpload" id="fileToUpload" type="file">
                <input name="button" id="uploadButton" style='background-image: url(@Model.PhotoPath); background-size: cover; padding-top: 70px;' type="button" value="Upload photo">
                <input name="submit" id="uploadSubmit" type="submit" value="Submit Query">
            }
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.TeamViews.TeamLegend</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.Partial("_CreateEdit", Model)

        <p>
            <button id="saveTeamButton">@Resources.TeamViews.Save</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.TeamViews.BackToList, "Index")
</div>

@Scripts.Render("~/bundles/teamuploadscripts")
@Styles.Render("/Content/TeamPhoto.css")