@model IEnumerable<VolleyManagement.UI.Areas.Mvc.ViewModels.Teams.TeamViewModel>

@{
    ViewBag.Title = "Teams";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Captain)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Captain.FullName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
