@using VolleyManagement.UI.Areas.Mvc;
@model IEnumerable<VolleyManagement.Domain.Teams.Team>

@{
    ViewBag.Title = "Teams";
}


<h2>List of teams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script src="~/Scripts/DeleteTeam.js" type="text/javascript"></script>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="TeamName @item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, 
                new { @class = "delete", @id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.Hidden("DeleteConfirmationMessage", Resources.TeamViews.DeleteConfirmationMessage)