@using System.Web.Optimization
@using VolleyManagement.Domain.RolesAggregate;
@using VolleyManagement.UI.Areas.Mvc.ViewModels.Teams;
@model TeamCollectionViewModel

@{
    ViewBag.Title = "Teams";
}

<h2>List of teams</h2>
@if (Model.AllowedOperations.IsAllowed(AuthOperations.Teams.Create))
{
    <p>
    @Html.ActionLink(Resources.TeamViews.Create, "Create")
    </p>
}

<div vm_scope='team_list'>
<table class="table">
    <tr>
        <th>
            @Resources.TeamViews.TeamName
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Teams)
    {
        <tr vm_teamId='@item.Id' vm_teamName='@item.Name'>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (Model.AllowedOperations.IsAllowed(AuthOperations.Teams.Delete))
                {
                    <button class='deleteTeamButton'>@Resources.TeamViews.Delete</button>
                }
                @if (Model.AllowedOperations.IsAllowed(AuthOperations.Teams.Edit))
                {
                    @Html.ActionLink(@Resources.TeamViews.Details, "Details", new { id = item.Id, returnUrl = ViewBag.ReturnUrl }, null)
                }
            </td>
        </tr>
    }

</table>
</div>

@Scripts.Render("~/bundles/teamlistscripts")
@Html.Hidden("DeleteConfirmationMessage", Resources.TeamViews.DeleteConfirmationMessage)