@using System.Web.Optimization
@using VolleyManagement.Domain.RolesAggregate;
@using VolleyManagement.UI.Areas.Mvc.ViewModels.Teams;
@model TeamCollectionReferrerViewModel

@{
    ViewBag.Title = "Teams";
}

<h2>List of teams</h2>
@if (Model.Model.AllowedOperations.IsAllowed(AuthOperations.Teams.Create))
{
<p>
    @Html.ActionLink(Resources.UI.TeamViews.Create, "Create")
</p>
}

<div vm_scope='team_list'>
    <table class="table">
        <tr>
            <th>
                @Resources.UI.TeamViews.TeamName
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Model.Teams)
        {
        <tr vm_teamid='@item.Id' vm_teamname='@item.Name'>
            <td class="teamList">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (Model.Model.AllowedOperations.IsAllowed(AuthOperations.Teams.Delete))
                    {
                <button class='deleteTeamButton'>@Resources.UI.TeamViews.Delete</button>
                    }
                @if (Model.Model.AllowedOperations.IsAllowed(AuthOperations.Teams.Edit))
                    {
                @Html.ActionLink(@Resources.UI.TeamViews.Details, "Details", new { id = item.Id, returnUrl = Model.Referer }, null)
                    }
            </td>
            <td></td>
        </tr>
        }

    </table>
</div>

@Scripts.Render("~/bundles/teamlistscripts")
@Html.Hidden("DeleteConfirmationMessage", Resources.UI.TeamViews.DeleteConfirmationMessage)