@using VolleyManagement.UI.Areas.Mvc
@model VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments.TournamentViewModel

@* This partial view defines form fields that will appear when creating and editing entities *@

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js" type="text/javascript"></script>

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessage("uniqueName")
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Season)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Season, new SelectList(Model.SeasonsList, "Key", "Value", Model.SelectedSeason))
    @Html.ValidationMessageFor(model => model.Season)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Scheme)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Scheme)
    @Html.ValidationMessageFor(model => model.Scheme)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.RegulationsLink)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.RegulationsLink)
    @Html.ValidationMessageFor(model => model.RegulationsLink)
</div>

<script type="text/javascript">
    $(function () {
        // $.fn.datepicker.defaults.format = '';

        $('#StartDate').datepicker({
            format: 'mm.dd.yyyy'
        });



        $("#EndDate").datepicker({
            format: 'mm/dd/yyyy'
        });
        $("#TransferStart").datepicker({
            format: 'mm/dd/yyyy'
        });
        $("#TransferEnd").datepicker({
            format: 'mm/dd/yyyy'
        });
        $("#RegistrationStart").datepicker({
            format: 'mm/dd/yyyy'
        });
        $("#RegistrationEnd").datepicker({
            format: 'mm/dd/yyyy'
        });
    });
</script>

<div class="editor-label">
    @Html.LabelFor(model => model.StartDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.StartDate, new { id = "StartDate", @readonly = "readonly", 
                @Value = DateTime.Now.ToShortDateString(), data_date_format = "mm.dd.yyyy"
})
    @Html.ValidationMessageFor(model => model.StartDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.EndDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.EndDate, new { id = "EndDate", @readonly = "readonly", @Value = DateTime.Now.ToShortDateString() })
    @Html.ValidationMessageFor(model => model.EndDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.RegistrationStart)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.RegistrationStart, new { id = "RegistrationStart", @readonly = "readonly", @Value = DateTime.Now.ToShortDateString() })
    @Html.ValidationMessageFor(model => model.RegistrationStart)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.RegistrationEnd)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.RegistrationEnd, new { id = "RegistrationEnd", @readonly = "readonly", @Value = DateTime.Now.ToShortDateString() })
    @Html.ValidationMessageFor(model => model.RegistrationEnd)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.TransferStart)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.TransferStart, new { id = "TransferStart", @readonly = "readonly", @Value = DateTime.Now.ToShortDateString() })
    @Html.ValidationMessageFor(model => model.TransferStart)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.TransferEnd)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.TransferEnd, new { id = "TransferEnd", @readonly = "readonly", @Value = DateTime.Now.ToShortDateString() })
    @Html.ValidationMessageFor(model => model.TransferEnd)
</div>