@model VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameResultViewModel

<div class="table-bordered">

    @if (!Model.AwayTeamId.HasValue)
    {
        <div class="row">
            <div class="col-md-8">
                @Model.HomeTeamName
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @Resources.TournamentViews.TeamDayOff
            </div>
        </div>
    }
    else
    {
        if (Model.IsTechnicalDefeat)
        {
            <div class="row">
                <div class="col-md-8">
                    @Model.HomeTeamName
                </div>
                <div class="col-md-8">
                    @Model.SetsScore.Home
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    @Model.AwayTeamName
                </div>
                <div class="col-md-8">
                    @Model.SetsScore.Away
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    @Resources.GameResultViews.TechnicalDefeat
                </div>
            </div>
        }
        else if ((Model.SetsScore.Home != 0) && (Model.SetsScore.Away != 0))
        {
            <div class="row">
                <div class="col-md-8">
                    @Model.HomeTeamName
                </div>
                <div class="col-md-8">
                    @Model.SetsScore.Home
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    @Model.AwayTeamName
                </div>
                <div class="col-md-8">
                    @Model.SetsScore.Away
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    @foreach (var score in Model.SetScores)
                    {
                        @: @score.Home:@score.Away|
                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-8">
                    @Model.HomeTeamName
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    @Model.AwayTeamName
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    @Model.ShortGameDate
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-8">
            @if ((Model.GameDate > DateTime.Now) &&
                   (Model.SetsScore.Home == 0) && (Model.SetsScore.Away == 0))
            {
                @Html.ActionLink("Edit", "EditScheduledGame", new { gameId = Model.Id })
            }
        </div>
    </div>
</div>