@model VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameResultViewModel

<div class="table-bordered">

    @if (Model.AwayTeamId == 0)
    {
        <div class="row">
            <div class="col-md-2">
                @Model.HomeTeamName
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Resources.TournamentViews.TeamDayOff
            </div>
        </div>
    }
    else
    {
        if (Model.IsTechnicalDefeat)
        {
            <div class="row">
                <div class="col-md-2">
                    @Model.HomeTeamName
                </div>
                <div class="col-md-2">
                    @Model.SetsScore.Home
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Model.AwayTeamName
                </div>
                <div class="col-md-2">
                    @Model.SetsScore.Away
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Resources.GameResultViews.TechnicalDefeat
                </div>
            </div>
        }
        else if ((Model.SetsScore.Home != 0) && (Model.SetsScore.Away != 0))
        {
            <div class="row">
                <div class="col-md-2">
                    @Model.HomeTeamName
                </div>
                <div class="col-md-2">
                    @Model.SetsScore.Home
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Model.AwayTeamName
                </div>
                <div class="col-md-2">
                    @Model.SetsScore.Away
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    @foreach (var score in Model.SetScores)
                    {
                        @: @score.Home:@score.Away|
                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-2">
                    @Model.HomeTeamName
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Model.AwayTeamName
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Model.GameDate.ToString("d MMM dddd H:mm")
                </div>
            </div>
        }
    }
</div>