@model VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments.TournamentApplyViewModel
@{
    ViewBag.Title = @Resources.PlayerViews.ApplyForTournament;
}

@Html.HiddenFor(model => model.Id, new { id = "tournamentId", Value = @Model.Id })

<h2>@Resources.PlayerViews.ApplyTeamFor @Model.TournamentTitle @Resources.PlayerViews.Tournament</h2>
    <p>
        @Html.DropDownListFor(x => x.TeamId,
            new SelectList(Model.Teams, "Id", "Name"))
    </p>

    <p>
        <input type="checkbox" name="agree" id="agree">@Resources.PlayerViews.IAccept<a href="License">@Resources.PlayerViews.TournamentRegulations</a>
    </p>
<div>
    <button name="apply-submit" id="apply" class="btn btn-default" disabled>@Resources.PlayerViews.Accept</button>
    <button id="apply-cancel" class="btn btn-default">@Resources.PlayerViews.BackPrevPage</button>

    <span id="ajaxResultMessage"></span>
</div>

@Scripts.Render("~/bundles/tournamentapplyscripts")