@model VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments.TournamentViewModel

@{
    ViewBag.Title = Resources.UI.TournamentViews.CreateTournamentTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.UI.TournamentViews.TournamentLegend</legend>
		@Html.Partial("_CreateOrEdit", Model)
        <p>
            <input type="submit" value="@Resources.UI.TournamentViews.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.UI.TournamentViews.BackToList, "Index")
</div>


