@model Tournament
@using VolleyManagement.Domain.Tournaments
@using VolleyManagement.UI.Areas.Mvc;

@{
    ViewBag.Title = Resources.TournamentViews.TournamentDetailsTitle;
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>@Resources.TournamentViews.TournamentLegend</legend>

    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">@Html.LabelFor(model => model.Description)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Description)</div>

    <div class="display-label">@Html.LabelFor(model => model.Season)</div>
    <div class="display-field">@Html.DisplaySeason(Model.Season)</div>

    <div class="display-label">@Html.LabelFor(model => model.Scheme)</div>
    <div class="display-field">@Model.Scheme.ToDescription()</div>

    <div class="display-label">@Html.LabelFor(model => model.RegulationsLink)</div>
    <div class="display-field"><a href="@Html.DisplayFor(model => model.RegulationsLink)" target="_blank">@Model.Name</a></div>
</fieldset>
<p>
    @Html.ActionLink(Resources.TournamentViews.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Resources.TournamentViews.BackToList, "Index")
</p>


