@using VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments;
@using VolleyManagement.Domain.RolesAggregate;
@model TournamentsCollectionsViewModel

@{
    ViewBag.Title = Resources.UI.TournamentViews.TournamentsIndexTitle;
    ViewBag.UserIsAdmin = false;
}

<h2>@ViewBag.Title</h2>

@if (Model.Authorization.IsAllowed(AuthOperations.Tournaments.Create))
{
    ViewBag.UserIsAdmin = true;
    <p>
        @Html.ActionLink(Resources.UI.TournamentViews.CreateNewTournament, "Create")
    </p>
}
<p>
    <h3>
        @Resources.UI.TournamentViews.CurrentTournamentsHeader
    </h3>    
    @{Html.RenderPartial("TournamentsList", Model.CurrentTournaments);}
</p>
<p>
    <h3>
        @Resources.UI.TournamentViews.UpcomingTournamentsHeader
    </h3>
    @{Html.RenderPartial("TournamentsList", Model.UpcomingTournaments);}
</p>
<p>
    @Html.ActionLink(Resources.UI.TournamentViews.FinishedTournaments, string.Empty, null, 
        new { @class = "showFinishedTournamenst"})
</p>

@{ ViewBag.TableId = "id=finished_table"; }
<p>
    <h3 id="FinishedHeader">
        @Resources.UI.TournamentViews.FinishedTournamentsHeader
    </h3>

    @{Html.RenderPartial("TournamentsList", new List<VolleyManagement.Domain.TournamentsAggregate.Tournament>());}
</p>
