@model VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments.TournamentTeamsListReferrerViewModel
@using Resources.UI

@{
    ViewBag.Title = "ManageTournamentTeams";
}

<h2>@TournamentViews.ManageTeams</h2>

<div>
    @Html.HiddenFor(model => model.Model.TournamentId, new { id = "TournamentId" })
    <table id="tournamentRoster" class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Model.TeamsList.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Model.TeamsList.FirstOrDefault().DivisionName)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var team in Model.Model.TeamsList)
        {
            <tr>
                <td>@Html.ActionLink(team.Name, "Details", "Teams", new { id = team.Id, returnUrl = Model.Referer }, null)</td>
                <td>@team.DivisionName</td>
                <td></td>
                <td><button class="deleteTeamFromTournamentButton" id="@team.Id">Delete</button></td>
            </tr>
        }                
    </table>
    <div style="margin-bottom: 30px;">
        <button id="addTeamToTournamentButton" class="btn btn-success">+ Add team </button>
    </div>
        <button id="addTeamsButton" class="btn btn-default">Save</button>
        @Html.ActionLink(@TournamentViews.Cancel, "Details", new { id = Model.Model.TournamentId }, new { @class = "btn btn-default" })

        <script type="text/javascript">
            (function () {
                "use strict";

                var currNs = VM.addNamespace("tournament.addTeams");
                currNs.deleteConfirmMessage = "@TournamentViews.DeleteTournamentTeamConfirm";
                currNs.teamIsNotSelectedMessage = "@TournamentViews.TournamentTeamIsNotSelected";
                currNs.divisionIsNotSelectedMessage = "@TournamentViews.TournamentDivisionIsNotSelected";
                currNs.groupIsNotSelectedMessage = "@TournamentViews.TournamentGroupIsNotSelected";
            })();

        </script>
    </div>
@Scripts.Render("~/bundles/tournamentteamsscripts")
