@model VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments.TournamentTeamsListReferrerViewModel
@using Resources.UI

@{
    ViewBag.Title = "ManageTournamentTeams";
}

<h2>@TournamentViews.ManageTeams</h2>

<div>
    @Html.HiddenFor(model => model.FirstModel.TournamentId, new { id = "TournamentId" })
    <table id="tornamentRoster" class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstModel.List.FirstOrDefault().Name)</th>
            <th class="hidden"></th>
            <th>@Html.DisplayNameFor(model => model.SecondModel.List.FirstOrDefault().Name)</th>
        </tr>
        @foreach (var team in Model.FirstModel.List)
        {
            foreach (var division in Model.SecondModel.List)
            {
                <tr>
                    <td>@Html.ActionLink(team.Name, "Details", "Teams", new { id = team.Id, returnUrl = Model.Referrer }, null)</td>                
                    <td>@division.Name</td>
                    <td></td>
                    <td><button class="deleteTeamFromTournamentButton" id="@team.Id">Delete</button></td>
                </tr>
            }
        }                
    </table>
    <div style="margin-bottom: 30px;">
        <button id="addTeamToTournamentButton" class="btn btn-success">+ Add team </button>
    </div>
        <button id="addTeamsButton" class="btn btn-default">Save</button>
        @Html.ActionLink(@TournamentViews.Cancel, "Details", new { id = Model.FirstModel.TournamentId }, new { @class = "btn btn-default" })

        <script type="text/javascript">
            (function () {
                "use strict";

                var currNs = VM.addNamespace("tournament.addTeams");
                currNs.deleteConfirmMessage = "@TournamentViews.DeleteTournamentTeamConfirm";
                currNs.teamIsNotSelectedMessage = "@TournamentViews.TournamentTeamIsNotSelected";

            })();

        </script>
    </div>
@Scripts.Render("~/bundles/tournamentteamsscripts")
