@model VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments.ScheduleViewModel


<h2>@Resources.TournamentViews.ScheduleTitle
    @Html.ActionLink(Model.tournamentName, "Details", new { id = Model.tournamentId })</h2>

<div>
    @Html.ActionLink(@Resources.TournamentViews.ScheduleGame, "")
</div>

<hr>
<fieldset>

  

    @for (byte i = 1; i <= Model.CountRound; i++)
{
        <text> @Resources.TournamentViews.Round @i </text>
    <table>
        <tbody>

                @if (Model.Rounds.ContainsKey(i))
                {
                    foreach (var item in Model.Rounds[i])
                    {
                        <tr>
                            <td> @item.HomeTeamName </td>
                            <td> @item.AwayTeamName </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td> @Resources.TournamentViews.NoGamesScheduled</td>
                    </tr>
                }           
        </tbody>

    </table>
    <br>

}
</fieldset>
