@using VolleyManagement.Domain.FeedbackAggregate
@model IList<VolleyManagement.UI.Areas.Admin.Models.RequestsViewModel>

@{
    ViewBag.Title = "Requests";
}

<br />
<li>
    <a href="TournamentRequest">
        <i class="fa fa-link fa-fw"></i>
        List of requests for applying Team to Tournament
    </a>
</li>
<li>
    <a href="Request">
        <i class="fa fa-link fa-fw"></i>
        List of requests for linking User to Player
    </a>
</li>
<br />
<div id="replyPopup" style="display: none;">
    <div id="popupContact">
        @using (Html.BeginForm("Reply", "Requests", FormMethod.Post))
        {
            <img src="close.jpg" id="close" onclick="div_hide()">
            <h2>Reply</h2>
            <input type="hidden" name="feedbackId" required id="feedbackId" value="" />
            <textarea name="feedbackMessage" required placeholder="Message" id="feedbackMessage"></textarea>
            <input type="submit" id="submit" value="Send" />
        }
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Requests</div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Content</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="3" class="text-center">No Requests</td>
            </tr>
        }
        else
        {
            foreach (var feedback in Model)
            {
                <tr>
                    <td>@feedback.Id</td>
                    <td>@feedback.UsersEmail</td>
                    <td>@feedback.Content</td>
                    <td>@feedback.Date</td>
                    <td>@feedback.Status</td>
                    <td>
                        @if (feedback.CanReply)
                        {
                            <button id="popup" class="btn btn-danger btn-xs" onclick="div_show(@feedback.Id)">Reply</button>
                        }
                        else
                        {
                            <button id="popup" class="btn btn-danger btn-xs" disabled>Reply</button>
                        }
                        @Html.ActionLink("Details", "Details", new { id = feedback.Id }, new { @class = "btn btn-primary btn-xs" })
                        @if (feedback.CanClose)
                        {
                            @Html.ActionLink("Close", "Close", new { id = feedback.Id }, new { @class = "btn btn-primary btn-xs" })
                        }
                        else
                        {
                            @Html.ActionLink("Close", "Close", new { id = feedback.Id }, new { @class = "btn btn-primary btn-xs", @disabled = false, onclick = "javascript:return false;" })
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>

