@model VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameResultViewModel

@using GameResultConstants = VolleyManagement.Domain.Constants.GameResult;
@using DomainResources = VolleyManagement.Domain.Properties.Resources;

@{
    string classname = "";
}

@Html.ValidationMessage("ValidationMessage", new { @class = "text-danger", name = "ValidationMessage" })
@Html.HiddenFor(model => model.TournamentId)

<div class="form-group">
    @Resources.UI.GameResultViews.TeamsFields

    @Html.LabelFor(model => model.HomeTeamName, Model.HomeTeamName)
    @Html.LabelFor(model => model.AwayTeamName, Model.AwayTeamName)

    @Html.DisplayFor(model => model.ShortGameDate)
    @Html.HiddenFor(model => model.HomeTeamId)
    @Html.HiddenFor(model => model.AwayTeamId)
    @Html.HiddenFor(model => model.GameDate)
    @Html.HiddenFor(model => model.Round)
</div>



@if (Model.HasResults)
{
    classname = " disable";
}

<div class="form-group">

    @Resources.UI.GameResultViews.SetsScoreFields
    @Html.EditorFor(model => model.GameScore.Home, new { htmlAttributes = new { @class = "form-control" + classname } })

    @Html.EditorFor(model => model.GameScore.Away, new { htmlAttributes = new { @class = "form-control" + classname } })
</div>

<div class="form-group">
    <label for="@Model.IsTechnicalDefeat">
        @Resources.UI.GameResultViews.TechnicalDefeatField
        @Html.EditorFor(model => model.IsTechnicalDefeat, new { htmlAttributes = new { @class = classname } })
        @Html.ValidationMessageFor(model => model.IsTechnicalDefeat, "", new { @class = "text-danger" })
    </label>
</div>

<div class="form-group">
    <label for="@Model.HasPenalty">
        @Resources.UI.GameResultViews.PenaltyField
        @Html.EditorFor(model => model.HasPenalty, new { htmlAttributes = new { @class = classname } })
        @Html.ValidationMessageFor(model => model.HasPenalty, "", new { @class = "text-danger" })
    </label>
    <div>
        <span>
            First Team? @Html.EditorFor(m => m.IsHomeTeamPenalty, new { htmlAttributes = new { @class = classname } })
        </span>
        <span>
            Amount @Html.EditorFor(m => m.PenaltyAmount, new { htmlAttributes = new { @class = "form-control" + classname } })
        </span>
        <span>
            Reason @Html.EditorFor(m => m.PenaltyDescrition, new { htmlAttributes = new { @class = "form-control" + classname } })
        </span>
    </div>
</div>
@for (int i = 0; i < Model.SetScores.Count; i++)
{
    <div class="form-group">
        @string.Format(Resources.UI.GameResultViews.SetFields, i + 1)
        @Html.EditorFor(model => model.SetScores[i].Home, new { htmlAttributes = new { @class = "form-control" + classname } })

        @Html.EditorFor(model => model.SetScores[i].Away, new { htmlAttributes = new { @class = "form-control" + classname } })
        @Resources.UI.GameResultViews.SetTechnicalDefeat @Html.EditorFor(model => model.SetScores[i].IsTechnicalDefeat, new { htmlAttributes = new { @class = classname } })
    </div>
}

<div class="form-group">
    @Html.LabelFor(model => model.UrlToGameVideo, @Resources.UI.GameResultViews.UrlToGameVideo)
    @Html.EditorFor(model => model.UrlToGameVideo, new { htmlAttributes = new { @class = "form-control video-edit-input" } })
</div>


<script>
    $(function(){
        $("input.disable").attr("readonly", true);
    });
    @{
        <text>
    var gameResultConstants = {
        "SETS_COUNT_TO_WIN": @GameResultConstants.SETS_COUNT_TO_WIN,
        "SET_POINTS_MIN_DELTA_TO_WIN": @GameResultConstants.SET_POINTS_MIN_DELTA_TO_WIN,
        "SET_POINTS_MIN_VALUE_TO_WIN": @GameResultConstants.SET_POINTS_MIN_VALUE_TO_WIN,
        "FIFTH_SET_POINTS_MIN_VALUE_TO_WIN": @GameResultConstants.FIFTH_SET_POINTS_MIN_VALUE_TO_WIN,
        "TECHNICAL_DEFEAT_SETS_WINNER_SCORE": @GameResultConstants.TECHNICAL_DEFEAT_SETS_WINNER_SCORE,
        "TECHNICAL_DEFEAT_SETS_LOSER_SCORE": @GameResultConstants.TECHNICAL_DEFEAT_SETS_LOSER_SCORE,
        "TECHNICAL_DEFEAT_SET_WINNER_SCORE":@GameResultConstants.TECHNICAL_DEFEAT_SET_WINNER_SCORE,
        "TECHNICAL_DEFEAT_SET_LOSER_SCORE":@GameResultConstants.TECHNICAL_DEFEAT_SET_LOSER_SCORE,
        "UNPLAYED_SET_HOME_SCORE": @GameResultConstants.UNPLAYED_SET_HOME_SCORE,
        "UNPLAYED_SET_AWAY_SCORE": @GameResultConstants.UNPLAYED_SET_AWAY_SCORE,
        "MAX_SETS_COUNT": @GameResultConstants.MAX_SETS_COUNT
        };

    var resourceMessages = {
        "GameResultSameTeam": "@DomainResources.GameResultSameTeam",
        "GameResultSetsScoreInvalid": "@DomainResources.GameResultSetsScoreInvalid",
        "GameResultSetsScoreNoMatchSetScores": "@DomainResources.GameResultSetsScoreNoMatchSetScores",
        "GameResultRequiredSetScores": "@DomainResources.GameResultRequiredSetScores",
        "GameResultOptionalSetScores": "@DomainResources.GameResultOptionalSetScores",
        "GameResultPreviousOptionalSetUnplayed": "@DomainResources.GameResultPreviousOptionalSetUnplayed",
        "GameResultSetScoresNotOrdered": "@DomainResources.GameResultSetScoresNotOrdered",
        "GameResultFifthSetScoreInvalid":"@DomainResources.GameResultFifthSetScoreInvalid"
    };
    </text>
    }

</script>
