<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div id="menu">
        @Html.Action("Menu", "Nav");
        @*@Html.ActionLink(Resources.TournamentViews.TournamentsIndexTitle, "Index", "Tournaments",
                          null, new { @class = ViewBag.SelectedMenuItem == "Tournaments" ? "selected" : null })
        @Html.ActionLink(Resources.PlayerViews.PlayersIndexTitle, "Index", "Players",
                          null, new { @class = ViewBag.SelectedMenuItem == "Players" ? "selected" : null })
        @Html.ActionLink("Teams", "Index", "Teams",
                          null, new { @class = ViewBag.SelectedMenuItem == "Teams" ? "selected" : null })
        @Html.ActionLink("About", "Index", "About",
                          null, new { @class = ViewBag.SelectedMenuItem == "About" ? "selected" : null })*@
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>