@model VolleyManagement.UI.Areas.Mvc.ViewModels.FeedbackViewModel.FeedbackViewModel

@{
    ViewBag.Title = @Resources.FeedbackViews.FeedbackSent;
}

<h2>@Resources.FeedbackViews.SuccessfulSent</h2>

<div class="form-group">
    @Html.LabelFor(model => model.UsersEmail,
        htmlAttributes: new { @class = "control-label" }):
    <span style="color: blue;">@Model.UsersEmail</span>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Content,
        htmlAttributes: new { @class = "control-label" }):
    <span style="color: blue;">@Model.Content</span>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.UserEnvironment,
        htmlAttributes: new { @class = "control-label" }):
    <span style="color: blue;">@Model.UserEnvironment</span>
</div>