﻿@model VolleyManagement.UI.Areas.Admin.Models.TournamentRequestCollectionViewModel

@{
    ViewBag.Title = "TournamentIndex";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading">Applications to Tournaments</div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Team name</th>
            <th>Tournament name</th>
            <th>User name</th>
            <th></th>
        </tr>
        @if (Model.Requests.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">No Application</td>
            </tr>
        }
        else
        {
            foreach (var application in Model.Requests)
            {
                <tr>
                    <td>@application.Id</td>
                    <td>
                        @application.TeamTitle
                        @Html.ActionLink(
                            "Details",
                            "Details",
                            "Teams",
                            new
                            {
                                Area = "Mvc",
                                id = application.TeamId,
                                returnUrl = "/Admin/TournamentRequest"
                            },
                            new { @class = "btn btn-info btn-xs" })
                    </td>
                    <td>
                        @application.TournamentTitle
                        @Html.ActionLink(
                            "Details",
                            "Details",
                            "Tournaments",
                            new
                            {
                                Area = "Mvc",
                                id = application.TournamentId
                            },
                            new { @class = "btn btn-info btn-xs" })
                    </td>
                    <td>
                        @application.PersonName
                        @Html.ActionLink("Details", "UserDetails", "Users", new { id = application.PersonId }, new { @class = "btn btn-info btn-xs" })
                    </td>
                    <td>
                        @Html.ActionLink("Confirm", "Confirm", new { id = application.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Decline", "Decline", new { id = application.Id }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        }
    </table>
</div>