@model VolleyManagement.UI.Areas.Admin.Models.RequestCollectionViewModel

@{
    ViewBag.Title = "Link Index";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading">Link player to user requests</div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Player name</th>
            <th></th>
        </tr>
        @if (Model.Requests.Count() == 0)
        {
        <tr>
            <td colspan="3" class="text-center">No Requests</td>
        </tr>
        }
        else
        {
            foreach (var link in Model.Requests)
            {
        <tr>
            <td>@link.Id</td>
            <td>
                @link.UserName
                @Html.ActionLink("Details", "UserDetails", new { id = link.UserId }, new { @class = "btn btn-info btn-xs" })
            </td>
            <td>
                @link.PlayerLastName
                @Html.ActionLink("Details", "PlayerDetails", new { id = link.PlayerId }, new { @class = "btn btn-info btn-xs" })
            </td>
            <td>
                @Html.ActionLink("Decline", "Decline", new { id = link.Id }, new { @class = "btn btn-danger btn-xs" })
                @Html.ActionLink("Confirm", "Confirm", new { id = link.Id }, new { @class = "btn btn-success btn-xs" })
            </td>
        </tr>
            }
        }
    </table>
</div>